body {
  background: linear-gradient(to bottom, #046f94, #a2d3dc 70%, #f3fafc 95.71%)
    fixed;
}
div {
  border-radius: 6px;
  padding: 50px;
  margin-top: 50px;
  box-shadow: 5px 5px 5px 5px #024359;
  display: block;
  margin: 0 auto;
  width: 40%;
}
#top {
  margin-top: 5%;
  background-color: #2688a5;
  border: 1px solid #30859e;
}
#bottom {
  background-color: #ffffff;
  border: 1px solid #30859e;
}
